body{
/* background-color: rgb(53, 114, 96); */
background: linear-gradient(to left, black 0%, black 50%, blue 50%, blue 50%);
}

.container {
    /* background-color: rgba(41, 191, 228, 0.694); */
    background: linear-gradient(to left,blue 0%, blue 50% ,black 50%, black 50%);
    width: 250px; 
    height: 200px;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    
}
#myInput{
    width: 60%;
    height: 25px;
    margin: 10px;
    border-radius: 10px;
}
#todolist{
    background: linear-gradient(to left,blue 0%, blue 50% ,black 50%, black 50%);
    border-radius: 10px;
    text-align: center;
    width: 15rem;
    color: aliceblue;
    margin: auto;
}
.btn{
    width: 100px;
    height: 20px;
    border-radius: 10px;
}

